.game-board {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
    padding-bottom: 50px;
}

body {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 251, 251);
    font-size: 20px;
}
.box {
    /* border: 1px solid #555; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
}

.sheep {
    background-image: url(sheep.gif);
    /* background-size: ; */
    background-repeat: no-repeat;
    background-position: center;
    
}

.goat {
    background-image: url(goat.jpg);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    
}

#caughtSheep {
    min-height: 100px;
    width: 400px;
    border: 5px dotted brown;
} 

img {
    width: 50px;
}

#janne {
    width: 200px;
    align-self: flex-end;
}


.header>* {
    display: inline;
    padding-top: 50px;
}

.buttons>* {
    display: inline;
}

button {
    padding: 10px;
    background-color: rgba(85, 192, 85, 0.658);
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(85, 192, 85);

}

#stopBtn{
    background-color: red;
}
#stopBtn:hover{
    background-color: rgb(163, 13, 13);
}

.failGoat {
    border: 3px solid red;
}